<template>
  <div id="cocktailEditor">
    <h2>{{ this.localCocktail.strDrink }}</h2>
    <div class="input-group">
      <label for="name">CocktailName</label>
      <input type="text" v-model="this.localCocktail.strDrink">
    </div>

    <div class="cocktail-information">
      <img :src="this.localCocktail.strDrinkThumb" :alt="this.localCocktail.strDrink">
      <ul>
        <li v-for="(i,index) in getIngredients(this.localCocktail)" :key="index">{{ i }}</li>
      </ul>
    </div>

    <h3>Instructions</h3>
    <p>{{ this.localCocktail.strInstructionsFR ?? this.localCocktail.strInstructions }}</p>

    <div class="btn-group">
      <button class="save" @click="this.save">Save</button>
      <button class="reset" @click="this.reset">Reset</button>
    </div>


  </div>
</template>

<script>
import {copyCocktail, getIngredients} from "@/CocktailUtils";

export default {
  name: "CocktailEditor",
  props: {
    propCocktail: Object
  },
  data() {
    return {
      localCocktail: copyCocktail(this.propCocktail),
    }
  },
  methods: {
    getIngredients,
    save() {
      // Sauvegarde du nouvel état
      this.$emit('updateCocktail', this.localCocktail)
    },
    reset() {
      // Réinitialisation au dernier état
      this.localCocktail = copyCocktail(this.propCocktail);
    }
  },
  watch: {
    propCocktail(newPropCocktail) {
      // On met à jour notre copie du cocktail sélectionné
      this.localCocktail = copyCocktail(newPropCocktail)
    },
  }
}
</script>

<style scoped lang="scss">
$redBtnColor: #dc3545;
$greyBtnColor: #6c757d;

#cocktailEditor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: black;

  padding: 30px 25px;
  gap: 20px;

  h2 {
    font-weight: 500;
    font-size: 35px;
    margin: 0;
  }

  text-align: left;

}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  label {
    background-color: #e9ecef;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
  }

  input {
    height: 100%;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ced4da;
    margin: 0 0 0 -1px;
    padding: 0 10px;
    flex-grow: 1;
  }
}

.cocktail-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 100%;
  }

  text-align: left;
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}

p {
  margin: 0;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    background-color: $redBtnColor;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
      background-color: darken($redBtnColor, 10%);
    }

    &.reset {
      background-color: $greyBtnColor;

      &:hover {
        background-color: darken($greyBtnColor, 10%);
      }
    }
  }

}

</style>