<template>
  <div id="cocktailList">
    <CocktailView v-if="this.cocktails.length > 0"
                  v-for="(c,index) in this.sortedCocktails" :cocktail="c" :key="index"
                  :selected="this.selectCocktail === c"
                  @select="this.updateSelectCocktail(index)"/>

    <p class="error" v-else>No Cocktail Available</p>
  </div>
</template>

<script>
import CocktailView from "@/components/CocktailView.vue";

export default {
  name: "CocktailList",
  components: {CocktailView},
  props: {
    selectCocktail: Object,
    cocktails: Array,

  },
  methods: {
    updateSelectCocktail(cocktailIndex) {
      // On informe de la sélection d'un cocktail
      this.$emit('select', cocktailIndex)
    },
  },
  computed: {
    sortedCocktails() {
      // On trie par ordre alphabétique la liste des cocktails
      function compare(a, b) {
        if (a.strDrink.toLowerCase() < b.strDrink.toLowerCase())
          return -1;
        if (a.strDrink.toLowerCase() > b.strDrink.toLowerCase())
          return 1;
        return 0;
      }

      return this.cocktails.sort(compare)
    }
  }

}
</script>

<style scoped lang="scss">
#cocktailList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;

  max-height: 100%;
  overflow-y: auto;

  .error {
    text-align: left;
    color: red;
    font-weight: bold;
  }
}

</style>