<template>
  <div class="cocktail-item" :class="{'selected' : this.selected}" @click="this.$emit('select', this.cocktail)">
    <img :src="this.cocktail.strDrinkThumb" :alt="this.cocktail.strDrink">
    <div class="cocktail-content">
      <div class="cocktail-title">
        <h2>{{ this.cocktail.strDrink }}</h2>
        <span>({{ this.getIngredients(this.cocktail).length }} ingredients)</span>
      </div>

      <p>{{ this.ingredients }}</p>
    </div>
  </div>
</template>

<script>
import {getIngredients} from "@/CocktailUtils";

export default {
  name: "CocktailView",
  props: {
    cocktail: Object,
    selected: Boolean
  },
  computed: {
    ingredients() {
      // Formatage des ingrédients
      return "[ " + getIngredients(this.cocktail).join(", ") + " ]"
    }
  },
  methods: {
    getIngredients
  }
}
</script>

<style scoped lang="scss">

.cocktail-item {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  grid-gap: 10px;
  padding: 5px;

  border: 1px solid black;
  border-radius: 10px;

  &.selected {
    background: palegreen;
  }

  img {
    width: 100%;
  }

  .cocktail-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .cocktail-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      h2 {
        font-size: 16px;
        margin: 0;
      }
    }

    p {
      text-align: left;
      margin: 0;
    }
  }
}

</style>