<template>
  <header>
    <h1>Cocktails</h1>
    <div class="alphabet-list">
      <button v-for="i in 26" @click="updateSelectChar(String.fromCharCode(96+i))" :key="i">
        {{ String.fromCharCode(96 + i).toUpperCase() }}
      </button>
    </div>
  </header>
  <main>
    <CocktailList :select-char="this.selectChar" @select="updateSelectCocktail"
                  :select-cocktail="this.selectCocktailIndex === undefined ?  undefined : this.cocktails[this.selectCocktailIndex]"
                  :cocktails="this.cocktails"/>

    <CocktailEditor v-if="this.selectCocktailIndex !== undefined"
                    :prop-cocktail="this.cocktails[this.selectCocktailIndex]"
                    @updateCocktail="updateCocktail"/>
  </main>
  <footer>
    <p>Ce site utilise <a href="https://www.thecocktaildb.com/">https://www.thecocktaildb.com/</a></p>
  </footer>
</template>

<script>

import CocktailList from "@/components/CocktailList.vue";
import CocktailEditor from "@/components/CocktailEditor.vue";
import axios from "axios";
import {copyCocktail} from "@/CocktailUtils";

export default {
  name: 'CocktailApp',
  components: {CocktailEditor, CocktailList},
  data() {
    return {
      selectChar: 'a', // Lettre sélectionnée
      selectCocktailIndex: undefined, // Lettre sélectionnée
      cocktails: [], // Liste des cocktails d'après la lettre sélectionnée
    }
  },
  mounted() {
    this.updateSelectChar(this.selectChar) // On enclenche la recherche des cocktails pour la lettre 'a'
  },
  methods: {
    updateSelectChar(char) {
      this.selectChar = char
      this.cocktails = []
      this.selectCocktailIndex = undefined

      // Entraine un nouveau chargement des cocktails
      axios.get("https://www.thecocktaildb.com/api/json/v1/1/search.php?f=" + this.selectChar.toLowerCase())
          .then(x => {
            this.cocktails = x.data.drinks ?? []
          })
          .catch(console.error)

    },
    updateSelectCocktail(cocktail) {
      // Mise à jour de l'index du cocktail sélectionné
      this.selectCocktailIndex = cocktail
    },
    updateCocktail(newCocktails) {
      // Mise à jour du cocktail
      this.cocktails[this.selectCocktailIndex] = copyCocktail(newCocktails)
    }
  }
}
</script>

<style lang="scss">

$background: darkslateblue;
body, html {
  height: 100%;
  margin: 0;
  max-height: 100vh;
}

body{
  display: flex;
  justify-content: center;
}

* {
  font-family: sans-serif;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  height: 100%;

  max-height: 100vh;
}

h1 {
  font-weight: 500;
}

header, footer {
  background: $background;
  color: white;

  a {
    color: white;
  }
}

.alphabet-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  button {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;

    &:hover {
      font-weight: bold;
    }
  }
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;

}

</style>
